<div class="ng-container w-50 m-auto pt-5" *ngIf="cv$ | async as cv">
  <p-toast position="bottom-right" key="br"></p-toast>
  <div *ngIf="cv !== undefined" class="card-container mb-0">
    <div class="card">
      <div class="front">
        <div class="cover">
          <img [src]="cv.path! | defaultImage" />
        </div>
        <div class="user">
          <img class="img-circle" [src]="cv.path! | defaultImage" />
        </div>
        <div class="content">
          <div class="main row text-start">
            <p class="text-start"><b>NAME: </b>{{ cv.fname }} {{ cv.lname }}</p>
            <p class="text-start"><b>JOB: </b> {{ cv.job }}</p>
            <p class="text-start"><b>ABOUT: </b>"{{ cv.about }}"</p>
            <p class="text-start"><b>AGE: </b>{{ cv.age }}</p>
            <p class="text-start"><b>CIN: </b>{{ cv.cin }}</p>
            <p class="text-start"><b>EMBACHE: </b>{{ cv.embauche ? 'OUI' : 'NON' }}</p>



          </div>

          <button
            class="btn btn-danger"
            (click)="deleteCv(cv.id)"
            title="Delete CV"
          >
            Delete CV
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
