<div class="m-5 p-5 rounded border" [ngStyle]="{ 'background-color': color }">
  <div class="input-group mb-3">
    <span
      class="input-group-text text-bold"
      id="basic-addon1"
      [ngStyle]="{ 'background-color': isColorValid ? color : rainbow, color: 'white' }"
      ><b>Color</b></span
    >
    <input class="form-control" [(ngModel)]="color" />
  </div>
  <p [style]="{color:'black'}">You Chose:</p>
  <p>
    <b>{{ color.toUpperCase() }}</b>
    {{ isColorValid || color.length==0 ? '' : '- is not a valid color' }}
  </p>
  <button class="input-group btn btn-dark" (click)="onChangeColor()">
    Reset
  </button>
</div>
