<p-toast position="bottom-right" key="br"></p-toast>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CV Manager</a>

    <div class="collapse navbar-collapse">
      <ul *ngFor="let link of links" class="navbar-nav ms-2">
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="link.path"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >{{ link.label }}</a
          >
        </li>
      </ul>
      <button
        *ngIf="!(isLoggedIn$ | async)"
        class="btn btn-outline-success"
        type="button"
        [ngStyle]="{ marginLeft: 'auto' }"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button
        *ngIf="isLoggedIn$ | async"
        class="btn btn-outline-danger"
        [ngStyle]="{ marginLeft: 'auto' }"
        type="button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
