<p-toast position="bottom-right" key="br"></p-toast>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CV Manager</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-2">
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['home']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['cv']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >Cv</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['cv', 'list']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >List</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['cv', 'add']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >Add CV</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['color']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >Color</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['rxjs']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >RxJS</a
          >
        </li>
        <li class="nav-item flex-shrink">
          <a
            class="nav-link"
            [routerLink]="['products']"
            routerLinkActive="active bg-light rounded text-dark"
            aria-current="page"
            [ngStyle]="{ width: '100px', textAlign: 'center' }"
            href="#"
            >Products</a
          >
        </li>
      </ul>

      <button
        *ngIf="!(isLoggedIn$ | async)"
        class="btn btn-outline-success"
        type="button"
        [ngStyle]="{ marginLeft: 'auto' }"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button
        *ngIf="isLoggedIn$ | async"
        class="btn btn-outline-danger"
        [ngStyle]="{ marginLeft: 'auto' }"
        type="button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
