<div *ngIf="cv!==undefined" class="card-container mb-0">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img [src]="cv.path! | defaultImage" />
      </div>
      <div class="user">
        <img class="img-circle" [src]="cv.path! | defaultImage" />
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{ cv.fname }} {{ cv.lname }}</h3>
          <p class="profession">{{ cv.job }}</p>
          <p class="text-center">"{{ cv.about }}"</p>
        </div>
        <div class="footer">
          <i class="fa fa-mail-forward"></i>
        </div>
      </div>
    </div>
    <!-- end front panel -->
    <div class="back">
      <div class="header">
        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
      </div>
      <div class="content">
        <div class="main col">
          <h4 class="text-center">{{ cv.job }}</h4>
          <p class="text-center">
            {{ cv.about }}
          </p>
          <div class="stats-container row">
            <div class="stats mx-auto">
              <h4>35</h4>
              <p>Projects</p>
            </div>
          </div>
          <div class="stats-container justify-content-center d-flex">
            <div class="stats mx-auto d-flex">
              <button class="btn btn-primary flex-fill mx-2" (click)="onEmbaucher()">
                Embaucher
              </button>
              <button class="btn btn-primary flex-fill mx-2" (click)="onDetails()">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
