<!--hero header-->
<section class="py-5 py-md-7" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-md-auto mb-5 mb-md-0 text-center text-md-left">
        <span class="text-uppercase text-muted small-xl">Cv Manager 1.0</span>
        <h1 class="display-4 mt-2 mb-5">
          The fastest way to recruit people for your jobs and projects.
        </h1>
        <a href="/cv" class="btn btn-primary col">
          <em
            data-feather="shopping-bag"
            width="20"
            height="20"
            class="m-auto"
          ></em>
          Go to Cvs page
        </a>
      </div>
      <div class="col-md-6 play-wrapper">
        <img
          src="/assets/images/macbook.png"
          class="img-fluid d-block mx-auto"
          alt="MacBook"
        />
        <div class="play d-flex flex-row align-item-center show-video">
          <em class="icon" data-feather="play"></em>
        </div>
      </div>
    </div>
  </div>
</section>
